<nav class="navbar navbar-expand-lg navbar-light bg-light">
  @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link"})
  @Html.ActionLink("All Stylists", "Index", "Stylists", null, new { @class = "nav-link"})
</nav>