@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add new Stylist!</h4>

@using (Html.BeginForm(new { @class = "form-group" }))
{
  <div class="form-floating">
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, null, new {@class = "form-control"})
</div>
  @Html.LabelFor(model => model.Specialty)
  @Html.TextBoxFor(model => model.Specialty, null, new {@class = "form-control"})
  <hr>
  <input class="form-control btn-success" type="submit" value="Add new Stylist" />
}