@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h1>Stylists</h1>
@if (@Model.Count == 0)
{
  <h3>No stylists have been added yet!</h3>
}
else
{
  <ul class="list-group-flush">
  @foreach (Stylist stylist in Model)
    {
      @Html.ActionLink($"{stylist.Name}", "Details", new {id = stylist.StylistId}, new { @class = "list-group-item"})

    }
  </ul>
  @Html.ActionLink("All Clients", "Index", "Clients",null, new {@class="form-control btn-light text-center"})
}
<div>
  @Html.ActionLink("Add new Stylists", "Create",null,null, new {@class="form-control btn-primary d-flex justify-content-center"})
</div>
