@{
  Layout = "_Layout";

}
@model HairSalon.Models.Client

<h4>Add a new client</h4>


@using (Html.BeginForm(new { @class = "form-group" }))
{


  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, null, new {@class = "form-control"})
  <hr>


  @Html.LabelFor(model => model.Stylist, null, new {@style = "width: 100px"})

  @Html.DropDownList("StylistId", null, new {@class = "form-select-lg "})

  <input class="form-control btn-primary" type="submit" value="Add new client" />

}
