@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1>Details for @Model.Name</h1>
<h2>Stylist: </h2>
@Html.ActionLink($"{@Model.Stylist.Name}", "Details", "Stylists", new {id = @Model.StylistId})